<div class="row">
    <div class="form-inline">
        <div class="form-group">
            <label for="vehName">Add Vehicle</label>
            <input type="text" id="vehName" class="form-control mx-sm-3" [(ngModel)]="newVehicleName" />
        </div>
        <button class="btn btn-primary  mx-sm-3" (click)="AddVehicle()">Add</button>
    </div>
    <div *ngIf="showError" class="alert alert-danger" role="alert">
        A vehicle already exists with that Name. Not case sensitive.
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h1>Vehicles</h1>
    </div>
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let veh of vehicles">{{veh.name}}</li>
        </ul>
    </div>
</div>

